# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore log files
*.log

# Ignore dataset files (if any)
*.zip
*.tar.gz

# Ignore images
*.jpg
*.png
*.tif